* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    
  }
  
  a {
    text-decoration: none;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 1rem;     
    margin: -2rem;
    height: 100%;
    width: 100%;
    line-height: 1.6rem;
 }
button:hover, .button:hover{
    filter: brightness(1.1);

}

.button > button{
  color: #4AD395;
}

button {
  cursor: pointer;
    
  }

body{
  margin: 0;
    
}

a:active{
  
  color: white;
}
a:link{
color: white;
}

a:visited{
  color: white;
}

a[tabindex]:focus {
  color:ble;
  outline: none;
}
#btn-color{
  background-color: #4AD395;
}
