* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;  
  }
  
  button {
    cursor: pointer;
  }
  
  .container { 
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    width: 25rem;  
  }
  
  .container  header { 
    display: block;   
    margin-bottom: 2rem;  
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
    width: 26.1rem;
    
    margin-bottom: .6rem;
  }
  
  .button {
    background: #c1c1c1;
    color: #353535;
    border: none;
    padding: .3rem;
    width: 49%;
    height: 3rem;
  }
  
  .registered {
    background: #4AD395;
    border-radius: .3rem;
    color: #fff
  }
  
  .input-email {
    position: relative;
  }
  
  .input-email img {
    position: absolute;
    top: 0;
    left: 1.1rem;
  }
  
  .input-password {
    position: relative;
  }
  
  .input-password img {
    position: absolute;
    top: 0;
    left: 1.1rem;
  }
  
  
  .input-form input {
    display: inline-block;
    width: 26.1rem;  
    height: 3rem;
    margin-bottom: .3rem;
    padding: .3rem;
    padding-left: 3rem;
    border: 1px solid #4AD395;
    border-radius: .3rem;
    outline: none;
  }
  
  #forgot-password {

    text-align: right;
    
  }
  #forgot-password a{
    color: #4AD395;
    padding: 0;
    margin: 0;
    width: fit-content;
    
  }
  
  .submit {
    display: inline-block;
    border: none;
    width: 50%;  
    margin-top: 20px;
    height: 50px;
  }

#img-eye{
  position: relative;
  background-color: red;
}

#img-eye img{
  position: absolute;
}
